{% extends 'base.html' %}

{% block content %}
{% load static %}

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preload-content">
            <div id="world-load"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- ***** Header Area Start ***** -->
    <!-- ***** Header Area End ***** -->

    <!-- ********** Hero Area Start ********** -->
    <div class="hero-area height-600 bg-img background-overlay" style="background-image: url({% static 'img/aboutfin.jpg' %});">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="single-blog-title text-center">
                        <!-- Catagory -->

                        <h1 style="color: white; font-size: 52px;">Fintank</h1>
                        <p style="color: white;  font-size: 28px;">Your Portfolio Just Got Easier To Manage</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ********** Hero Area End ********** -->

    <div class="main-content-wrapper section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- ============= Post Content Area ============= -->
                <div class="col-12 col-lg-8">
                    <div class="single-blog-content mb-100">
                        <!-- Post Meta -->
                        <div class="post-meta">
                            <h2 class="display-4">Fintank's Philosophy</h2>
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                          {% for item in francois %}
                            <h4>{{ item.about_para1 |safe }}</h4>
                                <h6>At FINTANK we believe that investors should have a one stop access point for all their investing research tools. I created this website in order to provide
                                  you with the techniques and analysis tools that is used in the professional setting. We seek to provide you with tools such as: </h6> <br>
                                <ul>
                                  <li class="text-center"> Stock and Industry Research </li>
                                  <li class="text-center"> Economic Indicators </li>
                                  <li class="text-center"> Breaking Financial and Political News That can affect your Portfolio </li>
                                  <li class="text-center"> Backtest and Build Your Own Portfolio To Keep Track of your Investment success </li>
                                </ul><br>

                            <blockquote class="mb-30">
                                <h6><strong>{{ item.about_blockquote |safe }}</strong></h6>
                                <div class="post-author">
                                    <p>Francois Jack</p>
                                </div>
                            </blockquote>
                            <!-- Post Tags -->
                            {% endfor %}
                        </div>
                    </div>
                </div>

                <!-- ========== Sidebar Area ========== -->
                <div class="col-12 col-md-8 col-lg-4">
                    <div class="post-sidebar-area mb-100">
                      {% for item in francois %}
                        <!-- Widget Area -->
                        <div class="sidebar-widget-area">
                            <img src="{{item.about_side_bar.url}}" alt="">
                            <p>{{item.first_name}} {{item.designation}}</p>
                            <div class="widget-content">
                                <p>{{ item.about_me_side_bar |safe }}</p>
                            </div>
                        </div>
                        <!-- Widget Area -->
                        <!-- Widget Area -->
                        <div class="sidebar-widget-area">
                            <h5 class="title">Stay Connected</h5>
                            <div class="widget-content">
                                <div class="social-area d-flex justify-content-between">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-pinterest"></i></a>
                                    <a href="#"><i class="fa fa-vimeo"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                    <a href="#"><i class="fa fa-google"></i></a>
                                </div>
                            </div>
                        </div>
                        <!-- Widget Area -->
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- ============== Related Post ============== -->

        </div>
    </div>

    <!-- ***** Footer Area Start ***** -->
{% endblock %}
