{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preload-content">
            <div id="world-load"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- ***** Header Area Start ***** -->
    <!-- ***** Header Area End ***** -->

    <!-- ********** Hero Area Start ********** -->
    <div class="hero-area height-600 bg-img background-overlay" style="background-image: url({% static 'img/research2.jpg'%});">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="single-blog-title text-center">
                        <!-- Catagory -->
                        <h1 style="color: white; font-size: 52px;">Fintank</h1>
                        <p style="color: white;  font-size: 28px;">Your Portfolio Just Got Easier To Manage</p>
                    </div>
                    <div class="row no-gutters slider-text align-items-end justify-content-center">
                    <div class="col-md-9 ftco-animate pb-5 text-center">
                      <h1 class="mb-3" style="color: white;">{{ user.first_name }}'s DashBoard</h1>
                    </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ********** Hero Area End ********** -->

    <div class="main-content-wrapper section-padding-150">
        <div class="container">
            <div class="row justify-content-center">
                <!-- ============= Post Content Area ============= -->

                <div class="col-12 col-lg-12">


               <div class="row justify-content-md-center row-eq-height">

                 <div class="jumbotron">
                   <h1 class="display-4">Stocks On Your WatchList</h1>
                   <p class="lead">Coming Soon, Build a backtest of stocks on your watchlist to see how your portfolio would have performed against major indices. </p>
                   <hr class="my-4">
                   {% if user_stocks %}
                   {% for stock in user_stocks %}
                   <h3>{{stock.ticker}}</h3>
                   {% endfor %}
                   {% endif %}
                   <div class="row">
                     <div class="col-12 col-lg-12">
                         <div class="single-blog-content mb-100">
                             <!-- Post Meta -->
                             <div class="post-meta" style="padding-top: 20px;">
                               <h5> Sector Performances</h5>
                             </div>
                             <!-- Post Content -->
                             <div class="post-content">
                               {{ script6 | safe }}
                               {{ div6 | safe }}
                               <div class="post-meta" style="padding-top: 50px;">

                                 <h5>Search Results:
                                     {% if sector %}
                                      {{ sector | safe}}, Showing: {{ length | safe }}
                                      {% else %}
                                       {{ length | safe }}</h5>
                                 {% endif %}
                               </div>
                               {% if output_for_stocks %}
                               <table class="table">
                                 <thead class="thead-dark">
                                   <tr>
                                     <th scope="col">Ticker</th>
                                     <th scope="col">Company Name</th>
                                     <th scope="col">Market Cap</th>
                                     <th scope="col">Sector</th>
                                     <th scope="col">Industry</th>
                                     <th scope="col">Beta</th>
                                     <th scope="col">Price</th>
                                     <th scope="col">Last Annual Dividend</th>
                                     <th scope="col">Volume</th>
                                     <th scope="col">Exchange</th>
                                     <th scope="col">Exchange Short Name</th>
                                   </tr>
                                 </thead>
                                 <tbody>
                                   {% for item in output_for_stocks %}
                                   <tr>
                                     <th scope='row'><a href="{% url 'stock_item' item.symbol %}" id="search_item" target="_blank">{{ item.symbol }}</a></th>
                                     <td>{{ item.companyName }}</td>
                                     <td>{{ item.marketCap }}</td>
                                     <td>{{ item.sector }}</td>
                                     <td>{{ item.industry }}</td>
                                     <td>{{ item.beta }}</td>
                                     <td>{{ item.price }}</td>
                                     <td>{{ item.lastAnnualDividend }}</td>
                                     <td>{{ item.volume }}</td>
                                     <td>{{ item.exchange }}</td>
                                     <td>{{ item.exchangeShortName }}</td>
                                   </tr>
                                   {% endfor %}
                                 </tbody>
                               </table>
                               {% endif %}
                             </div>
                         </div>
                     </div>
                 </div>
                </div>
            </div>
          </div>
    </div>
  </div>
  </div>

    <!-- ***** Footer Area Start ***** -->
  {% endblock %}
