{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!-- Preloader Start -->
    <div id="preloader">
        <div class="preload-content">
            <div id="world-load"></div>
        </div>
    </div>
    <!-- Preloader End -->

    <!-- ***** Header Area Start ***** -->
    <!-- ***** Header Area End ***** -->

    <!-- ********** Hero Area Start ********** -->
    <div class="hero-area height-600 bg-img background-overlay" style="background-image: url({% static 'img/research2.jpg'%});">
        <div class="container h-100">
            <div class="row h-100 align-items-center justify-content-center">
                <div class="col-12 col-md-8 col-lg-6">
                    <div class="single-blog-title text-center">
                        <!-- Catagory -->
                        <h1 style="color: white; font-size: 52px;">Fintank</h1>
                        <p style="color: white;  font-size: 28px;">Your Portfolio Just Got Easier To Manage</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ********** Hero Area End ********** -->

    <div class="main-content-wrapper section-padding-100">
        <div class="container">
            <div class="row justify-content-center">
                <!-- ============= Post Content Area ============= -->

                <div class="col-12 col-lg-12">


               <div class="row justify-content-md-center row-eq-height">

                 <div class="jumbotron">
                   <h1 class="display-4">Industry Research & Screener</h1>
                   <p class="lead">Industry grouping is based on a subset of the Industry's Universe based on stocks from the S&P 500, Dow Jones Industrial Average and the Nasdaq Composite.</p>
                   <hr class="my-4">

                   <div class="row">
                     <form action="{% url 'screener' %}"class="form-inline my-2 my-lg-0" method='POST'>
                       {% csrf_token %}
                   <div class = "col-md-6">
                     <p>Please select an Industry Below.</p>
                         <div class="input-group mb-3">
                       <div class="input-group-prepend">
                         <button class="btn btn-secondary" type="submit" name='option'>Search</button>
                       </div>
                       <select name ='option' class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                         <option value=''>Choose </option>
                         <option value="Healthcare">Healthcare</option>
                         <option value="Technology">Technology</option>
                         <option value="Industrials">Industrials</option>
                         <option value="Utilities">Utilities</option>
                         <option value="Consumer Cyclical">Consumer Discretionary</option>
                         <option value="Financial">Financials</option>
                         <option value="Basic Materials">Basic Materials</option>
                         <option value="Consumer Defensive">Consumer Staples</option>
                         <option value="Communication Services">Communication</option>
                         <option value="Real Estate">Real Estate</option>
                         <option value="Energy">Energy</option>
                         <option value="ETFs">ETFs</option>
                       </select>
                     </div>
                   </div>
                   <div class="col-md-6">
                     <p>Please specify a Market Capital</p>
                     <div class="input-group mb-3">
                       <select name ='option2' class="custom-select" id="inputGroupSelect03" aria-label="Example select with button addon">
                         <option value=''>Choose</option>
                         <option value="200000000000">Mega Cap</option>
                         <option value="10000000000">Large Cap</option>
                         <option value="2000000000">Mid Cap</option>
                         <option value="300000000">Small Cap</option>
                         <option value="50000000">Micro Cap</option>
                       </select>
                     </div>
                  </form>
                 </div>

                </div>


                <div class="col-12 col-lg-12">
                    <div class="single-blog-content mb-100">
                        <!-- Post Meta -->
                        <div class="post-meta" style="padding-top: 20px;">
                          <h5> Sector Performances</h5>
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                          {{ script6 | safe }}
                          {{ div6 | safe }}
                          <div class="post-meta" style="padding-top: 50px;">

                            <h5>Search Results:
                                {% if sector %}
                                 {{ sector | safe}}, Showing: {{ length | safe }}
                                 {% else %}
                                  {{ length | safe }}</h5>
                            {% endif %}
                          </div>
                          {{ screen_df | safe }}
                        </div>
                    </div>
                </div>

                <!-- ========== Sidebar Area ========== -->



            <!-- ============== Related Post ============== -->
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <img style="max-height: 170px; min-height:170px; min-width: 350px; max-width:350px;" src="{{article1_image|safe}}" alt="">
                            <!-- Catagory -->
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="{{article1_url}}" class="headline">
                                <h5>{{article1|safe}}</h5>
                            </a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p><a href="#" class="post-author">{{article1_site|safe}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <img style="max-height: 170px; min-height:170px; min-width: 350px; max-width:350px;" src="{{article2_image|safe}}" alt="">
                            <!-- Catagory -->
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="{{article2_url}}" class="headline">
                                <h5>{{article2|safe}}</h5>
                            </a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p><a href="#" class="post-author">{{article2_site|safe}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <img style="max-height: 170px; min-height:170px; min-width: 350px; max-width:350px;" src="{{article3_image|safe}}" alt="">
                            <!-- Catagory -->
                            <!-- Video Button -->
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="{{article3_url}}" class="headline">
                                <h5>{{article3|safe}}</h5>
                            </a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p><a href="#" class="post-author">{{article3_site|safe}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <img style="max-height: 170px; min-height:170px; min-width: 350px; max-width:350px;" src="{{article4_image|safe}}" alt="">
                            <!-- Catagory -->
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="{{article4_url}}" class="headline">
                                <h5>{{article4|safe}}</h5>
                            </a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p><a href="#" class="post-author">{{article4_site|safe}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <img style="max-height: 170px; min-height:170px; min-width: 350px; max-width:350px;" src="{{article5_image|safe}}" alt="">
                            <!-- Catagory -->
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="{{article5_url}}" class="headline">
                                <h5>{{article5|safe}}</h5>
                            </a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p><a href="#" class="post-author">{{article5_site|safe}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <img style="max-height: 170px; min-height:170px; min-width: 350px; max-width:350px;" src="{{article6_image|safe}}" alt="">
                            <!-- Catagory -->
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="{{article6_url}}" class="headline">
                                <h5>{{article6|safe}}</h5>
                            </a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p><a href="#" class="post-author">{{article6_site|safe}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <img style="max-height: 170px; min-height:170px; min-width: 350px; max-width:350px;" src="{{article7_image|safe}}" alt="">
                            <!-- Catagory -->
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="{{article7_url}}" class="headline">
                                <h5>{{article7|safe}}</h5>
                            </a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p><a href="#" class="post-author">{{article7_site|safe}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <img style="max-height: 170px; min-height:170px; min-width: 350px; max-width:350px;" src="{{article8_image|safe}}" alt="">
                            <!-- Catagory -->
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="{{article8_url}}" class="headline">
                                <h5>{{article8|safe}}</h5>
                            </a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p><a href="#" class="post-author">{{article8_site|safe}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Single Blog Post -->
                    <div class="single-blog-post">
                        <!-- Post Thumbnail -->
                        <div class="post-thumbnail">
                            <img style="max-height: 170px; min-height:170px; min-width: 350px; max-width:350px;" src="{{article9_image|safe}}" alt="">
                            <!-- Catagory -->
                        </div>
                        <!-- Post Content -->
                        <div class="post-content">
                            <a href="{{article9_url}}" class="headline">
                                <h5>{{article9|safe}}</h5>
                            </a>
                            <!-- Post Meta -->
                            <div class="post-meta">
                                <p><a href="#" class="post-author">{{article9_site|safe}}</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center">
                <!-- ============= Post Content Area ============= -->
        </div>
    </div>
  </div>

    <!-- ***** Footer Area Start ***** -->
  {% endblock %}
